/bin/
/AnnotationEx2.class
/AnnotationEx3.class
/Child.class
/NewClass.class
/Parent.class
/AnnotationEx4.class
/AnnotationEx5.class
/Apple.class
/Box.class
/DateTime.class
/Direction.class
/Eatable.class
/EnumEx1.class
/EnumEx2.class
/EnumEx3.class
/EnumEx4.class
/Fruit.class
/FruitBox.class
/FruitBoxEx1.class
/FruitBoxEx2.class
/FruitBoxEx3.class
/Grape.class
/Juice.class
/MyArrayList.class
/MyEnum.class
/MyTransportation$1.class
/MyTransportation$2.class
/MyTransportation$3.class
/MyTransportation$4.class
/MyTransportation.class
/TestInfo.class
/TestType.class
/Toy.class
/Transportation$1.class
/Transportation$2.class
/Transportation$3.class
/Transportation$4.class
/Transportation.class
/AppleComp.class
/FruitBoxEx4.class
/FruitComp.class
/GrapeComp.class
/Juicer.class
