/Apple.class
/AppleComp.class
/Box.class
/Direction.class
/Eatable.class
/EnumEx1.class
/Fruit.class
/FruitBox.class
/FruitBoxEx1.class
/FruitBoxEx2.class
/FruitBoxEx3.class
/FruitBoxEx4.class
/FruitComp.class
/Grape.class
/GrapeComp.class
/Juice.class
/Juicer.class
/Toy.class
